:root {
    --primary-color: #F3EFE4;
    --secondary-color: #8CD0DB;
    --accent1-color: #032B45;
    --accent2-color: #005C83;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color)
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    padding-left: 0px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--primary-color)
}

article {
    position: absolute;
    font-style: italic;
    font-family: "Times New Roman";
    margin-top: 8px;
    padding-right: 100px;
    border-right: 0px;
    top: -200px;
    float: left;
    padding: 8px;
    opacity: 1;
    color: var(--primary-color);
    background-color: rgba(3, 43, 69, 0.7);
}

.hero article img {
    position: relative;
    top: 10px;
    float: right;
    width: 125px;
    margin-left: 20px;
    box-shadow: black 5px 5px 5px;
}
