:root {
  --color-black: #000;
  --space-1: 1rem;
  --border-w: 1px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




main{
    max-width: 840px;

}

aside {
    max-width: 200px;
    width: 20rem;
    text-align: center;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

aside img {
    max-width: 200px;
    height: auto;
}

main img{
    float: right;
    width: 150px;
    height: auto;
    border: var(--border-w) solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

footer {
    margin-top: 15px;
    border-top: var(--border-w) solid var(--color-black);
    text-align: center;
}

p {
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    padding: 1em;
    display: block
}
h1 {
    color: black
}

body header nav {
    color: lightblue;
}

aside h2 {
    position:absolute;
    top: 658px;
    left: 98px;
}
/* Class Selectors */

.box {
  margin: var(--space-1);
  border: var(--border-w) solid rgb(0 0 0 / 10%);
  padding: var(--space-1);
  background-color: #ddd;
  color: var(--color-black);
}